.container{
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: var(--blue);
}
.main{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max(300px, 40vw);
  padding: 2rem;
  background-color: var(--black-light);
  border-radius: 5px;
}
/* HEAD */
.head{
  padding: 1rem 0;
}
.title{
  font-family: 'Oswald', sans-serif;
  color: var(--white);
  font-weight: 500;
  text-align: center;
  font-size: 3rem;
}
.sub_title{
  font-size: 2rem;
  color: var(--gray);
  text-align: center;
}
/* FORM */
form{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem 0;
  margin-bottom: 5rem;
}
/* LINKS */
.link{
  font-size: 2rem;
  text-align: center;
  color: var(--white); 
}
.link a{
  color: var(--blue);
  text-decoration: underline;
}
/* ERROR */
.error_message{
  font-size: 1.6rem;
  color: var(--red);
}
/* INPUTS */
.input{
  display: flex;
  gap: 1rem;
  flex-direction: column;
  position: relative;
}
.input label{
  font-size: 2rem;
  color: var(--white);
}
.input input{
  padding: 0.7rem;
  font-size: 2rem;
  color: var(--white);
  background-color: transparent;
  border: 1px solid var(--white);
  border-radius: 2px; 
  width: 100%;
}
.input svg{
  position: absolute;
  right: 0;
  margin-right: 10px;
  bottom: 0;
  margin-bottom: 1.5rem;
  font-size: 3rem;
  color: var(--gray);
  cursor: pointer;
}