div.input{
  position: relative;
}
div.eye{
  position: absolute;
  right: 0;
  top: 50%;
  margin-right: 1rem;
  transform: translateY(-50%);
  font-size: 3rem;
  color: var(--white);
  cursor: pointer;
}